body {
  background-color: #add8e6;
  color: #00008b;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  text-align: center;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding: 10px;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}